body {
    background-color: rgba(248, 216, 226, 0.952);
}
.images img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: contrast(80%);
}

.images div {
    display: inline-block;
    width: 27%;
    height: 80vh;
    overflow: hidden; 
    border-radius: 24px;

}

.images {
    display: flex;
    font-size: 0;
    text-align: center;
    justify-content: space-around;
    min-height: 90vh;
    align-items: center;
}

@media (max-width: 1024px) {
    .images div {
        display: block;
        width: 90%;
        height: 27%;
    }
    .images {
        display: block;
    }
}
