* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vh;
    height: 100vh;
    background-color: #111;
}

.image-container {
    position: absolute;
    width: fit-content;
}

.dvd-image {
    object-fit: fill;
    height: 156px;
    width: auto;
}