body {
    background-color: gray;
}

h1 {
    color: blue;
    font-family: Arial, sans-serif;
    font-size: 2.5em;
    font-weight: 900;
}

h2 {
    font-size: 2em;
    font-weight: 700;
}

h6 {
    font-size: 1.5em;
    font-weight: 500;
}

p {
    color: green;
    font-size: 20px;
    font-size: 1.2em;
    font-weight: 300;
}

ul {
    font-size: 1.1em;
    font-weight: 600;
}