:root {
    
    font-family: Roboto, sans-serif; 
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 920px;
    padding-top: 35px;
}

.header-links-container a {
    border-bottom: 1px solid rgba(0, 114, 188, 0.2);
    color: rgb(0, 114, 188);
    text-decoration: none;
}

.header-links-container {
    display: flex;
    list-style: none;
    gap: 14px;
    height: 100%;
    align-items: center;
}

.header-left {
    display: flex;
    gap: 30px;
}