.box1 {
    width: 300px;
    height: 200px;
    padding: 30px;
    border: 3px solid rgb(0, 0, 255);
    background-color: rgb(211, 211, 211);
}


.box2 {
    width: 500px;
    height: 400px;
    padding: 20px;
    margin: 50px 30px;
    border: 4px dashed darkblue;
    background-color: lightblue;
    text-align: center;
}

.box3 {
    width: 600px;
    height: 400px;
    padding: 10px;
    border: 3px solid black;
    background-color: lightgray;
    text-align: center;
}

.box3 .image-container {
    width: 100%;
    height: 80%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}