.gallery {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.card {
    position: relative;
    margin-bottom: 20px;
}

.card img {
    max-width: 50%;
    height: auto;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
    border: 3px solid #ccc;
    border-radius: 5px;
}

.card p {
    margin: 10px 0 0;
    text-align: center;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.footer a {
    text-decoration: none;
    color: #333;
}
